.contactUsPage{
    margin-top: 4rem;
}
.contactusPgleftSec{
    background-color: #000;
    border-radius: 30px;
    padding: 4rem;
}
.contactusPgrightSec {
    margin-left: 2rem;
}
.contactusPgleftSec h4{
    color: #fff;
}
.contactusPgleftSec p,
.contactusPgleftSec small,
.contactusPgleftSec a {
    color: #F9F9FC;
    text-decoration: none;
}
.contactusPgleftSec h4{
    margin-bottom: 2rem;
}
.contactusPgleftSec p{
    margin-bottom: 0.2rem;
    font-weight: 500;
}
.contactusPgleftSec small{
    margin-bottom: 1rem;
    display: block;
}
.contactusForm input{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0 !important;
}
.label{
    color: #000000 !important;
    font-weight: 500;
}
.contactusForm{
    padding-top: 1rem;
}

.contactUsButton{
    border-radius: 4rem;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    width: 36%;
    text-align: center;
    margin-right: 1rem;
    padding: 0.6rem 1rem;
    border: 1px solid var(--hover-bg-color);
    color: #fff;
    background-color: var(--hover-bg-color);
    transition: 0.4s;
  }
  .contactUsButton:hover{
    transition: 0.4s;
    border: 1px solid #A6A6A6;
    background-color: transparent;
    color: #000;
  }

@media screen and (max-width: 768px) {
    .contactUsPage{
        margin-top: 2rem;
    }
   
    .contactusPgrightSec {
        margin: 1rem 0 !important;
    }
}