.userLoginSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F9F9FC;
}
.userLoginPage{
    background-color: #fff;
    margin-top: 10%;
    min-width: 34%;
    padding: 2rem;
    border-radius: 1rem;
    margin: 4% 0 4% 0;
}
.passwordField{
    position: relative;
    padding-top: 1rem;
}
.custLine {
    margin: 1.4rem 0 !important;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.1 !important;
    width: 90% !important;
  }
.authenticationBtn{
    width: 100%;
    border-radius: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 1rem 0;
}
.primaryAuthenticationBtn{
    border: 1px solid transparent;
    background-color: var(--hover-bg-color);
    color: var(--bg-color);
}
.primaryAuthenticationBtn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #CDCDCD;
    transition: 0.4s;
}
.secAuthenticationBtn{
    border: 1px solid #CDCDCD;
    background-color: #fff;
    color: #000;
}
.secAuthenticationBtn:hover{
    background-color: var(--hover-bg-color);
    color: #fff;
    border: 1px solid transparent;
    transition: 0.4s;
}
.seperator {
    position: relative;
    padding-bottom: 1rem;
}
.heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500 !important;
    font-family: 'Outfit';
}
.spanText{
    background-color: #fff;
    position: absolute;
    top: -14px;
    left: 48%;
    width: 30px;
    text-align: center;
    color: #858585;
}
.labelText{
    font-size: 16px;
    font-weight: 600;
}