.userProfileSec {
    background-color: #F9F9FC;
}
.custNav{
    border: none !important;
    margin-top: 3rem;
}
li.sideNavItem {
    margin: 0 !important;
}
img.sidenav-img {
    width: 17px;
}
.sideBar {
    background-color: #fff;
    padding: 3% 3%;
    min-width: 26%;
}
.sideNavlink{
    color: #878787 !important;
    font-family: outfit !important;
    font-size: 1rem !important;
    padding: 0.4rem 0.6rem !important;
}
.myAccount_right_sec {
    padding: 3% 3%;
    width: 70%;
}
.myAccInnerSec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    max-width: 84%;
}
span.details {
    font-weight: 500;
    padding-left: 30px;
    font-size: 17px;
    color: #1E0405;
}
.icon-red {
    color: red;
}
 
.form-check .form-check-input {
    margin-left: -1.0em !important;
    margin-right: 0.8em;
}
.form-check-input {
    width: 1.2em !important;
    height: 1.2em !important;
}
.form-check-input:checked {
    background-color: #171717 !important;
    border-color: transparent !important;
}
.form-check-input:focus {
    box-shadow: unset !important;
}
.billingAddressCont {
    margin-top: 4rem;
}
.billingAdd{
    padding: 1rem;
    border-radius: 10px;
    /* margin-top: 2rem; */
    border: 1px solid #e1e1e1;
    width: 20rem;
}
address {
    margin-top: 1rem;
    font-style: normal;
    line-height: inherit;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 0.9rem;
}
.activeBar{
    color: var(--hover-bg-color) !important;
    text-decoration: underline !important;
}
.error{
    color: #f14848;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .sideBar{
        display: none !important;
    }
    .myAccount_right_sec {
        padding: 16% 8% !important;
        width: 100% !important;
    }
    .myAccInnerSec {
        max-width: 100%;
    }
    /* .commonBtn {
        width: 100% !important;
    } */
    .billingAdd{
        width: 18rem !important;
    }
    .wishlistContSec, .reviewsContSec{
        padding: 24% 8% !important;
    }
}