.collectionPgBotSec{
    padding-top: 1rem;
}
.collectionProducts.row{
    margin-top: 2rem;
}
.CollectionDetails{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collectionDescription{
    color: #717171;
    width: 80%;
    font-size: 1rem;
}
.custFormlable{
    margin-bottom: 0 !important;
    color: #747474 !important;
    font-size: 14px;
    font-weight: 500;
    margin-left: 0.8rem;
}
.formSelect{
    padding: 4px 2.25rem .375rem .75rem !important;
    border: none !important;
    font-weight: 500 !important;
    background-color: transparent !important;
    font-size: 0.9rem !important;
    cursor: pointer !important;
}
.CollectionsTabCont {
    margin: 1% 0 4% 0 !important;
}
.css-13cymwt-control{
    border: none !important;
    background-color: transparent !important;
    width: 11rem;
}
.css-t3ipsp-control:focus{
        outline: none;
        box-shadow: none; 
}
.formSelect .css-1s2u09g-control {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
}
.css-19eo3mx-control{
    background-color: transparent !important;
    width: 10rem !important;

}

.formSelect .css-1s2u09g-control:focus {
    outline: none !important;
    box-shadow: none !important;
}
.css-1u9des2-indicatorSeparator{
    display: none !important;
}
.css-1a9d28t-control{
    background-color: #f9f9fc !important;
}
.css-1nmdiq5-menu{
    border-radius: 8px !important;
}
.css-1fdsijx-ValueContainer{
    padding: 0 2px !important;
    background-color: #f9f9fc !important;
}
.css-1dimb5e-singleValue{
    margin-left: 0 !important;
}
.css-1xc3v61-indicatorContainer{
    display: none !important;
}
.css-b62m3t-container {
    margin-top: -4% !important;
    background-color: transparent !important;
}

@media screen and (max-width: 767px) {
    .CollectionDetails{
        text-align: left !important;
    }
    .collectionPgBotSec{
        padding-top: 4rem;
    }
    .collectionDescription{
        width: 100%;
    }
}